body {
    width: 1920px;
    margin: 0 auto;


    font-family: "FivoSans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    color: #000000;
    background-color: #fbfcfc;
}

/*------------------------------------*\
  #site-list
\*------------------------------------*/

.site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 480px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-list__link {
    line-height: 36px;
    font-weight: 400;
    color: rgba(28, 32, 86, 0.5);
    text-decoration: none;
}

.site-list__link:hover {
    color: #ff6a6d;
}

/*------------------------------------*\
  #site-logo
\*------------------------------------*/

.site-logo {
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    color: #ff6a6d;
}

/*------------------------------------*\
  #btn
\*------------------------------------*/

.btn {
    box-sizing: border-box;
    max-width: 240px;
    padding: 30px 25px;

    background-color: #ff6a6d;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ff6a6d;
    border-radius: 20px;
}

.btn-transparent {
    color: #f82a56;
    background-color: transparent;
}

/*------------------------------------*\
  #list
\*------------------------------------*/

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

/*------------------------------------*\
  #user-list
\*------------------------------------*/

.user-list__item:not(:first-child) {
    margin-top: 5px;
}

.user-list__login-btn {
    padding: 7px 43px;
    text-decoration: none;
}

/*------------------------------------*\
  #second-title
\*------------------------------------*/

.second-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;

    text-align: center;
}

/*------------------------------------*\
  #features-list
\*------------------------------------*/

.features-list {
    display: flex;
    justify-content: space-around;
    width: 1520px;
    margin: 0 auto;
}

.features-list__item {
    width: 300px;
    padding-top: 280px;

    text-align: center;
    background-image: url("../img/feauters-list-icons.png");
    background-repeat: no-repeat;
}

.features-list__item--bg-clock {
    background-position: left -6% top;
}

.features-list__item--bg-phone {
    background-position: left 52% top;
}

.features-list__item--bg-access {
    background-position: right -6% top;
}

/*------------------------------------*\
  #page-header
\*------------------------------------*/

.page-header {
    min-height: 1255px;
    padding: 75px 250px 0;

    background: no-repeat url("../img/bg-header.png");
}

/*------------------------------------*\
  #main-nav
\*------------------------------------*/

.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__logo {
    margin-right: 535px;
}

.main-nav__site-list {
    margin-right: 119px;
    padding-top: 10px;
}

.main-nav__user-list {
    padding-top: 9px;
}

.main-nav__link--current  {
    font-weight: bold;
    color: #ff6a6d;
}

/*------------------------------------*\
  #promo
\*------------------------------------*/

.promo {
    width: 545px;
    margin-left: 120px;
    margin-top: 150px;
}

.promo__slogan {
    display: block;
    margin-bottom: 45px;

    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    color: #3b3838;
}

.promo__text {
    margin: 0;
    padding-right: 50px;

    color: rgba(0, 0, 0, 0.5);
}

.promo__text--last {
    margin-bottom: 60px;
}

.promo__link-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.promo__link {
    padding: 20px 84px;
    margin-right: 26px;
    margin-bottom: 5px;

    border-radius: 50px;
    text-decoration: none;
}

/*------------------------------------*\
  #advantages
\*------------------------------------*/

.advantages__header {
    box-sizing: border-box;
    width: 928px;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 125px;
}

.advantages__title {
    margin: 0;
    margin-bottom: 25px;
}

.advantages__text {
    margin: 0;
    padding: 0 140px;

    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}


/*------------------------------------*\
  #whats-on-list
\*------------------------------------*/

.whats-on-list {
    width: 717px;
    margin-left: 706px;
}
