.advantages__header {
    box-sizing: border-box;
    width: 928px;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 125px;
}

.advantages__title {
    margin: 0;
    margin-bottom: 25px;
}

.advantages__text {
    margin: 0;
    padding: 0 140px;

    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}
